.table-wrapper{
    max-height: calc(100% - 11em);
    margin-top: 20px;
    overflow: hidden;
    border-radius: 1em;
    overflow: auto;
    font-size: .9em;
}
.table-wrapper th{
    padding: .5em 1em;
    padding-bottom: 0;
    font-weight: lighter;
    color: gray;
}
.table-wrapper td{
    padding: .5em 1em;
    padding-top: 0;
    min-width: 10em;
    font-weight: bold;
    color:rgb(69, 69, 69)
}