.table-wrapper {
    max-height: calc(100% - 11em);
    margin-top: 20px;
    overflow: hidden;
    border-radius: 1em;
    overflow: auto;
    font-size: .9em;
}

.table-wrapper th {
    padding: .5em 1em;
    padding-bottom: 0;
    font-weight: lighter;
    color: gray;
}

.table-wrapper td {
    padding: .5em 1em;
    padding-top: 0;
    min-width: 10em;
    font-weight: bold;
    color: rgb(69, 69, 69)
}

.noise {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #19181b;
    background-image:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.9" numOctaves="3" seed="8" /></filter><rect width="100" height="100" filter="url(%23noise)" /></svg>');
    background-size: 20em 20em;
    opacity: .3;
}

.sk-chase {
    width: 5em;
    height: 5em;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: ttranslate(-50%, -50%);
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 30%;
    height: 30%;
    background-color: #ffffff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1.0);
    }
}