.form{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 40em;
    height: auto;
    min-height: 10em;
    max-height: 50em;
    overflow: scroll;
    padding: 2em;
    border-radius: 2em;
    background: #fff;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.062);
    z-index: 2;
}
.users{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    gap: 1em;
}
.date_picker{
    width: 100%;
    height: 3.5em;
    border: .14em solid rgb(239, 239, 239);
}
.form input{
    height: 3em;
    width: 100%;
    padding: 0em .3em;
    border-radius: .5em;
    border: .1em solid rgb(239, 239, 239);
    outline-width: .1em;
    color: #3d3d3d;
    font-weight: normal;
}
.form label{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-weight: bold;
    color: rgb(52, 52, 52);
}
.package{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: .1em dashed #d4d2f7;
    background: #fbfaff;
    border-radius: .8em;
}
.package input{
    border-color: #d4d2f7;
}
.form>ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 100%;
    top: 3em;
}
.package{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: .5em;
    border: .1em dashed rgba(204, 210, 255, 0.515);
    border-radius: .5em;
    cursor: pointer;
}
.package:hover{
    background: rgb(117, 144, 255);
    border-color: rgb(117, 144, 255);
    box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.1);
}
.package:hover>p:last-of-type{
    color: white;
}
.package>strong{
    font-size: 1.2em;
    padding: .2em .5em;
    border-radius: 1em;
}
.package>div>div>p{
    display: flex;
    align-items: center;
    gap:.5em;   
}
.package>p:last-child{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 0;
    font-weight: 900;
    color: rgb(116, 156, 248);
    font-size: 1.5em;
}
.customers-list{
    width: 100%;
    max-height: 5em;
    margin-top: .3em;
    color: #6b6b6b;
    font-weight: 200;
    font-style: italic;
    background: #f0f0f08e;
    border-radius: .5em;
    overflow: scroll;
}
.customers-list>li{
    padding: .5em;
    cursor: pointer;
}
.customers-list>li:hover{
    background: #e1ebff;
}