@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

form input {
  height: 3em;
  width: 100%;
  padding: 0em .3em;
  border-radius: .5em;
  border: .1em solid rgb(239, 239, 239);
  outline-width: .1em;
  color: #3d3d3d;
  font-weight: normal;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-weight: bold;
  color: rgb(52, 52, 52);
}

.table-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: calc(100% - 10em);
  padding: 2em;
  border-radius: 1em;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

.table-wrapper>table {
  border-collapse: collapse;
  width: 100%;
}

.table-wrapper hr {
  color: #ededed;
  width: auto;
}

.table-wrapper td {
  width: auto;
  padding: 1em 1.5em;
  color: gray;
  white-space: nowrap;
}


.table-wrapper th:first-child {
  font-weight: 600;
}

.table-wrapper th {
  padding: 1.5em;
  text-align: start;
  white-space: nowrap;
}

.table-wrapper tbody tr::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .2s ease-in-out;
  border-radius: .5em;
}

.table-wrapper tbody tr {
  position: relative;
  transition: all .2s ease-in-out;
}

/* .table-wrapper tbody tr:hover {
  cursor: pointer;
} */

.table-wrapper tbody tr:hover::after {
  cursor: pointer;
}

table thead th {
  padding: 1em 1.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Firefox */
  background: none;
  /* Opcional: elimina color de fondo */
  border: 1px solid #ccc;
  /* Personaliza el borde si quieres */
}

[data-sonner-toast] {
  width: fit-content !important;
}

[data-sonner-toast][data-type="info"] {
  background-image: linear-gradient(to right, rgb(207, 216, 255), white, white) !important;
  color: rgb(98, 98, 252) !important;
}

[data-sonner-toast][data-type="error"] {
  background-image: linear-gradient(to right, rgb(255, 207, 207), white, white) !important;
  color: rgb(252, 98, 98) !important;
}

[data-sonner-toast][data-type="success"] {
  background-image: linear-gradient(to right, rgb(207, 255, 226), white, white) !important;
  color: rgb(70, 181, 116) !important;
}

[data-sonner-toast][data-type="warning"] {
  background-image: linear-gradient(to right, rgb(255, 243, 207), white, white) !important;
  color: rgb(205, 181, 73) !important;
}


@layer base {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: theme('colors.gray.50');
    }

    ::-webkit-scrollbar-thumb {
        background: theme('colors.gray.50');
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: theme('colors.gray.600');
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.gray.300') theme('colors.gray.100');
    }
}