.packages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-height: calc(100vh - 14em);
    overflow: scroll;
}
.package__card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    padding: 2em;
    /* max-width: 20em; */
    border:.2em solid rgb(197, 210, 252);
    border-radius: 2em;
}
.package__name{
    width: fit-content;
    padding: .5em;
    border-radius: .5em;
    background: rgb(245, 245, 245);
    color: rgb(59, 59, 59);
}
.package__price{
    font-size: 3.5em;
}
.benefits{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
    border: .1em dashed rgb(181, 198, 252);
    background: rgb(244, 247, 254);
    border-radius: 1em;
    font-style: italic;
}
.benefit{
    display: flex;
    align-items: center;
    gap: 1em;
    color: rgb(86, 86, 86);
    font-style: italic;
}
@media screen and (max-width:1100px) {
    .packages{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:650px) {
    .packages{
        grid-template-columns: repeat(1, 1fr);
    }
}