.navbar{
    width: 15em;
    padding:0em 1em;
    padding-top: 2.5em;
    border-right: .1em solid #e4e4e7;
}
.navbar__item{
    border-radius: 1em;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.navbar__item:hover{
    /* background-color: #f4f4f5; */
    transform: translateX(.5em);
}
.navbar__item--active{
    font-weight: bold;
    background: #f2f2f2;
}
.navbar__item--deactive:hover{
    background-image: linear-gradient(to right, #ecefff, #ffffff);
    color: #7483d8;
}
.navbar__link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
.logo{
    position:  relative;
    font-weight: 600;
    margin-bottom: 2.5em;
}
.logo::after {
    content: '';
    position: absolute;
    bottom: -.3em;
    left: 0;
    width: 4em;
    height: .2em;
    background: linear-gradient(90deg, #000000 0%, transparent 100%);
    border-radius: 2px;
}