.navbar{
    width: 15em;
    height: 100%;
    padding:0em 1em;
    padding-top: 2.5em;
    border-right: .1em solid #e4e4e7;
    background-color: white;
}
.menu-icon{
    display: none;
}
.menu-checkbox{
    display: none;
}
.navbar__item{
    border-radius: 1em;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.navbar__item:hover{
    /* background-color: #f4f4f5; */
    transform: translateX(.5em);
}
.navbar__item--active{
    font-weight: bold;
    background: #f2f2f2;
}
.navbar__item--deactive:hover{
    background-image: linear-gradient(to right, #ecefff, #ffffff);
    color: #7483d8;
}
.navbar__link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
.logo{
    position:  relative;
    font-weight: 600;
    margin-bottom: 2.5em;
}
.logo::after {
    content: '';
    position: absolute;
    bottom: -.3em;
    left: 0;
    width: 4em;
    height: .2em;
    background: linear-gradient(90deg, #000000 0%, transparent 100%);
    border-radius: 2px;
}

/* HOME STYLES */
.home{
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: 100%;
    max-height: calc(100% - 1em);
    padding: 2em;
    overflow-y: auto;
}
.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 10em;
    border-radius: 1em;
    border: .1em solid rgb(236, 236, 236);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.home ul li:hover > .action{
    transform: translateY(-1em) rotate(-2deg);
}
.home ul li:nth-child(1):hover > .action{
    background-color: rgb(234, 238, 255);
    border: .2em solid rgb(141, 143, 255);
    color: rgb(141, 143, 255);
    box-shadow: .3em .3em 1em rgb(186, 186, 255,.7);
}
.home ul li:nth-child(2):hover .action{
    background-color: rgb(234, 255, 240);
    border: .2em solid rgb(94, 192, 148);
    color: rgb(94, 192, 148);
    box-shadow: .3em .3em 1em rgb(94, 192, 148,.3);
}
.home ul li:nth-child(3):hover .action{
    background-color: rgb(255, 255, 234);
    border: .2em solid rgb(201, 201, 112);
    color: rgb(201, 201, 112);
    box-shadow: .3em .3em 1em rgb(201, 201, 112, .4);
}
.action p{
    font-size: large;
    font-weight: bold;
}
.action p:last-child{
    font-size: small;
    font-weight: normal;
}
.gadgets{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5em;
}
.gadget{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 20em;
    padding: 2em;
    border-radius: 2em;
    background: rgb(248, 248, 248);
    border: .1em solid rgb(215, 215, 215);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.gadget:hover{
    transform:  rotate(-2deg);
}
.gadget:nth-child(1){
    background: rgb(244, 246, 255);
    border: .3em solid rgb(152, 172, 236);
}
.gadget:nth-child(2){
    background: rgb(245, 255, 244);
    border: .3em solid rgb(177, 231, 169);
}
.gadget:nth-child(3){
    background: rgb(254, 244, 255);
    border: .3em solid rgb(228, 160, 231);
}
.gadget:nth-child(4){
    background: rgb(255, 249, 244);
    border: .3em solid rgb(242, 208, 179);
}
.gadget>strong{
    font-size: 3em;
}
.gadget>div>p{
    font-size: larger;
    font-weight: bold;
    color: #6e6e6e;
}
.gadget>div>p:last-child{
    display: flex;
    align-items: center;
    gap: .3em;
    width: fit-content;
    padding: .3em 1em;
    border-radius: 5em;
    font-size: small;
    font-weight: normal;
    background: #f2f2f2;
}
.table{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 2em;
    border:.1em solid rgb(232, 232, 232);
    border-radius: 1em;
}
.table hr{
    color: #ededed;
}
.table>table{
    border-collapse: collapse;
    width: 100%;
}
.table th{
    text-align: start;
    padding: 1.5em;
}
.table tbody tr:hover{
    cursor: pointer;
    background-image:linear-gradient(to right, rgb(240, 240, 240), rgb(244, 244, 244), rgb(255, 255, 255)) ;
    transition: all .2s ease-in-out;
    transform: scale(1.01);
}
.table thead th{
    padding: 1em 1.5em;
}
@media screen and (max-width:900px) {
    .navbar{
        width: 6em;
        z-index: 10;
    }
    .navbar__item p{
        display: none;
    }
}
@media screen and (max-width:800){
    .menu{
        position: inherit;
        right: 1em;
        top: 1em;
        display: block;
    }
    .navbar{
        position: absolute;
        left: 2em;
        width: 13em;
        z-index: 100;
    }
    .navbar__item p{
        display: block;
    }
    .menu-icon{
        display: block;
        position: absolute;
        left: 15.4em;
        cursor: pointer;
        z-index: 100;
    }
    .menu-checkbox:checked ~ .navbar{
        left: -20em;
    }
    .menu-checkbox:checked ~ .menu-icon{
        top: 1em;
        left: 1em;
    }
}